<div id="sideDataMenu" class="data-menu">
    
    <div class="container">

        <h2>Processing data</h2>
        <br />
        <div class="row">
            <div class="col-6">System status:</div>
            <div class="col-6 text-right">
                <span class="badge badge-success">Online</span>
            </div>
        </div>
        <div class="row">
            <div class="col-7">Line speed (Bpm):</div>
            <div class="col-5 text-right">
                <span class="badge badge-info">18.000</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">Birds Per Tray:</div>
            <div class="col-6 text-right">
                40
            </div>
        </div>
        <div class="row">
            <div class="col-7">Trays Per Minute:</div>
            <div class="col-5 text-right">
                5
            </div>
        </div>
        <div class="row">
            <div class="col-7">CAS Recipe:</div>
            <div class="col-5 text-right">
                <span class="badge badge-primary">Spring</span>
            </div>
        </div>

        <br />

        <h2>Losses</h2><br />
        <div class="row">
            <div class="  p-0 container-fluid d-flex justify-content-center">
                <div class="col-sm-12 col-md-12  p-0">
                    <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                </div>
            </div>
        </div>

        <br />

        <h2>Notifications</h2><br />
        <table class="table table-notifications">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">No data from MOD2</td>
                    <td class="text-center"><span class="badge badge-warning">Warning</span></td>
                    <td>01/06/2020 08:00AM</td>
                </tr>
                <tr>
                    <td scope="row">System offline</td>
                    <td class="text-center"><span class="badge badge-danger">Fatal</span></td>
                    <td>01/06/2020 01:20AM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>