 <div id="sideDataMenu" class="data-menu" style="width: 350px;">
    <a href="#" class="close" onclick="closeDataMenu()">x</a>
    <div class="container">

        <h1>Processing data</h1><br />
        <div class="row">
            <div class="col-4">
                System status:
            </div>
            <div class="col-8 text-left p-0">
                <span class="alert online">Online</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">Line speed:</div>
            <div class="col-6 text-left p-0">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%; font-weight: bold;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
            <div class="col-2">
                18000 bpm
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Setpoint:
            </div>
            <div class="col-8 text-left">
                5
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Bids Per Tray:
            </div>
            <div class="col-8  text-left">
                40
            </div>
        </div>

        <!-- Chart -->
        <div class="row">
            <div class="  p-0 container-fluid d-flex justify-content-center">
                <div class="col-sm-12 col-md-12  p-0">
                    <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                </div>
            </div>
        </div>

        <br />

        <!-- Notifications log-->
        <h2>Notifications</h2><br />
        <table class="table table-notifications">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">No data from MOD2</td>
                    <td class="text-center"><span class="warning alert">Warning</span></td>
                    <td>01/06/2020 08:00AM</td>
                </tr>
                <tr>
                    <td scope="row">System offline</td>
                    <td class="text-center"><span class="fatal alert">Fatal</span></td>
                    <td>01/06/2020 01:20AM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>