<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/plugins/gridstack/gridstack.css" />
    <link rel="stylesheet" href="~/css/custom_gridstack.css" />

    <link rel="stylesheet" href="~/css/custom_marel.css">
</head>
<body>
    <!-- Top Menu -->
    <partial name="_NavBar" />

    <!-- Razer Content -->
    <div class="content-wrapper">
        @RenderBody()
    </div>

    <script src="~/plugins/jquery/jquery.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="~/plugins/gridstack/gridstack.all.js"></script>
    <script src="~/plugins/gridstack/gridstack.jQueryUI.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
