<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/gridstack/gridstack.css" />
    <link rel="stylesheet" href="~/plugins/sswitch/css/style.css">
    <link rel="stylesheet" href="~/plugins/toastr/toastr.css">

    <link rel="stylesheet" href="~/css/custom_marel.css">
</head>
<body class="view-mode">

    <!-- Navigation Bar -->
    <partial name="_NavBar" />

    <div class="content-wrapper">

        <!-- Toggle Switch and Data Bar Toggle buttons -->
        <div class="row">
            <div class="col-6">
                <!-- Toggle Switch -->
                <input type="checkbox" name="checkboxName" class="checkbox" />
            </div>
            <div class="col-6 text-right">
                <!-- Data Bar Toggle -->
                <div class="dbToggle dbToggleClose" id="dbToggle" onclick="toggleDataBarIcon(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 m-0">
            <!-- Module List Menu -->
            <partial name="_ModuleList" />

            <!-- Dashboard Content -->
            @RenderBody()

            <!-- Data Bar -->
            <partial name="_DataBar" />
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="mModal" tabindex="-1" role="dialog" aria-labelledby="mModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mModalLabel">Module Modal  title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    @*<script src="~/plugins/lodash/lodash.js"></script>*@
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/gridstack/gridstack.min.js"></script>
    <script src="~/plugins/gridstack/gridstack.jQueryUI.min.js"></script>
    <script src="~/plugins/sswitch/js/Sswitch.js"></script>
    <script src="~/plugins/filesaver/dist/FileSaver.min.js"></script>
    <script src="~/plugins/chartjs/Chart.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>

    <script src="~/js/custom_gridstack.js"></script>
    <script src="~/js/custom_marel.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
