<aside class="main-sidebar sidebar-dark-primary">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">        
            <div class="info">
                <a>Module List</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Widgets</p>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
