<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="~/img/innova_small.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-tools"></i> Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" onclick="saveGrid()">
                        <i class="fas fa-download"></i> Save Dashboard
                    </a>
                    <a class="dropdown-item" href="#" onclick="loadModal()">
                        <i class="fas fa-upload"></i> Load Dashboard
                    </a>
                    <a class="dropdown-item" href="#" onclick="clearDashboard()">
                        <i class="fas fa-undo"></i> Reset Dashboard
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
