@page
@model IndexModel
@{
    ViewData["Title"] = "Production Dashboard";
}

<div class="container-fluid">
    <h1>Float grid demo</h1>
    <div>
        <a class="btn btn-primary" onClick="addNewWidget()" href="#">Add Widget</a>
    </div>
    <br><br>
    <div class="grid-stack"></div>
</div>

@section Scripts{
    <script src="~/js/gridstack_core.js"></script>
}