/*
    Created by WarOfDevil - 20/06/2020
*/

/* ##################################*/
/*          GENERAL                  */
/* ##################################*/

h1 {
    font-size: 18pt;
    font-weight: 700;
}

h2 {
    font-size: 14pt;
    font-weight: 700;
}

h3 {
    font-size: 12pt;
}

body {
    font-size: 10pt;
    font-family: 'Segoe UI', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

/* ##################################*/
/*          NAVIGATION BAR           */
/* ##################################*/

.navbar {
    background-color: #384d70;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fefeff;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-text a {
    color: #fefeff;      
}

.navbar a {
    font-family: 'Segoe UI' !important;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #fefeff;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fefeff;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #384d70;
    border-color: #384d70;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fefeff;
    background-color: #384d70;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #384d70;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fefeff;
    background-color: #384d70;
}

.navbar .navbar-toggle {
    border-color: #384d70;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #384d70;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}

.navbar .navbar-link {
    color: #ffffff;
}

.navbar .navbar-link:hover {
    color: #fefeff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fefeff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fefeff;
    background-color: #384d70;
}

/* ##################################*/
/*           TOGGLE SWITCH           */
/* ##################################*/

.s-switch {
    padding: 2px 3px;
    margin: 5px; 
 }

/* ##################################*/
/*           DATA BAR TOGGLE         */
/* ##################################*/

.dbToggle {
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.dbToggleClose .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.dbToggleClose .bar2 {
    opacity: 0;
}

.dbToggleClose .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

/* ##################################*/
/*          MODULE LIST              */
/* ##################################*/

.module-list {
    height: 70%;
    height: 70vh;
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    top: 0%; /* Stay at the top */
    left: 0;
    background-color: #ffffff; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: 1px solid #4c4c4c;
    float: left;
    text-align: center;
}

.module-list h2 {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    color: #384d70;
}

.module-list a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.module-list .newWidget {
    border-top: 1px solid;
    padding: 10px 0;
}

.module-list .newWidget:last-child {
    border-bottom: 1px solid;
}

.module-list a:hover {
    color: #f1f1f1;
}

/* ##################################*/
/*          MODULES                  */
/* ##################################*/

.module {
    background-color: #ffffff;
    font-size: 10pt;
    border: 1px solid #3A4E71;
}

.module-title {
    height: 40px;
    color: #ffffff;
    padding: 5px;
}

.module-title .notification {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #ffffff;
    float: left;
    height: 25px;
    width: 25px;
    margin: 1px;
    font-size: 14px;
    color: #3A4E71;
}
.module-title h3 {
    line-height: 1;
    padding-top: 5px;
    font-size: 11pt;
}

.module-content {
    background-color: #ffffff;
    color: #a3b7c7;
    font-style: italic;
    text-align: left;
    padding: 5px 0px 5px 5px;
}

.module-content h3{ 
    color: #3A4E71;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 10pt;

}

.module-content label {
    margin-left: 7px;
    margin-bottom: 0;
    width: 90%;
}
.module-content label span {
    float: right;
}

.module-offline {
    background-color: #88ADCA;
    border-color: #88ADCA;
}
.module-connected {
    background-color: #3A4E71;
    border-color: #3A4E71;
}
.module-warning {
    background-color: #FEB012;
    border-color: #FEB012;
}
.module-fatal {
    background-color: #C41D2E;
    border-color: #C41D2E;
}

/* ##################################*/
/*          DATA MENU                */
/* ##################################*/

.data-menu {
    border: 1px solid;
    border-color: #4c4c4c;
    border-right: 0;
    height: 70%;
    width: 250px;
    z-index: 1; 
    background-color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    transition: 0.5s;
    display: flex;
    align-items: stretch;
    right: 0;
    position: fixed;
    text-align: left;
}

.data-menu .close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px !important;
    margin-left: 50px;
    color: #000;    
}

.data-menu h1, .data-menu h2 {
    text-align: center;
    color: #384d70;
}

.data-menu .row {
    margin-bottom: 5px;
}
.data-menu .row .col-4 {
    padding-right: 0 !important;
}

.data-menu .row .col-8.text-left {
    font-weight: bold;
}

.table-notifications th {
    background-color: #384d70;
    color: #fff;
    text-align: center;
}

.table-notifications td {
    background-color: white;
    color: #88ADCA;
}

.table-notifications th, .table-notifications td {
  
    border-left: 1px solid #88ADCA;
    border-bottom: 1px solid #88ADCA !important;
    padding: 5px;
    font-size: 9pt;
}

.table-notifications th:last-child, .table-notifications td:last-child {
    border-right: 1px solid #88ADCA;
}

/* ##################################*/
/*         ALERTS                    */
/* ##################################*/

.alert {
    display: inline-block;
    padding: 2px 5px;
    color: #ffffff;
    margin:0;
    font-weight: bold;
    min-width: 70px;
    text-align: center;
}

.warning {
    background-color: #FEB012;
}

.fatal {
    background-color: #C41D2E;
}

.online {
    background-color: #C41D2E;
}

.edit-mode .newWidget {
    cursor: move;
}

/* ##################################*/
/*          GRIDSTACK                */
/* ##################################*/

.grid-stack {
    background: #ffffff;
}

.grid-stack-item-content {
    text-align: center;
}

.grid-stack-item-removing {
    opacity: 0.8;
    filter: blur(5px);
}

/* ##################################*/
/*          MODAL VIEW               */
/* ##################################*/

.modal-header {
    background-color: #3A4E71;
    color: white;
    height: 50px;
    align-items: center;
}

.modal-header .close {
    display: none;
}

.modal-footer {
    padding: 0rem;
}
