/*
    Created by WarOfDevil - 11/07/2020
*/

/* ##################################*/
/*          NAVIGATION BAR           */
/* ##################################*/

.navbar {
    background-color: #384d70;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #fefeff;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-text a {
    color: #fefeff;      
}

.navbar a {
    font-family: 'Segoe UI' !important;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #fefeff;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fefeff;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #384d70;
    border-color: #384d70;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fefeff;
    background-color: #384d70;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #384d70;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fefeff;
    background-color: #384d70;
}

.navbar .navbar-toggle {
    border-color: #384d70;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #384d70;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}

.navbar .navbar-link {
    color: #ffffff;
}

.navbar .navbar-link:hover {
    color: #fefeff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fefeff;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fefeff;
        background-color: #384d70;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fefeff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fefeff;
    background-color: #384d70;
}



/* ##################################*/
/*          MODULE LIST              */
/* ##################################*/

/* The side navigation menu */
.module-list {
    height: 50%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 10%; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.module-list a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    /* When you mouse over the navigation links, change their color */
.module-list a:hover {
    color: #f1f1f1;
}
    